@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    155 SVH nối dài, quận 10,TPHCM<br />
    DnK<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">xxxt@dd.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">yyy@kn.com</a>
</address>