
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1 style="text-align:center;color:red">CREATER</h1>
<br />
<br /><br />
<br />
<h2 style="text-align:center">Đặng Phạm Phú Duy</h2>
<br />
<br />
<h2 style="text-align:match-parent">Nguyễn Khải </h2>

