
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3>SĐT: 0916576xx</h3>
<h3>Địa chỉ:  155 Đường Sư Vạn Hạnh, Phường 13, Quận 10, Thành Phố Hồ Chí Minh</h3>
<img src="~/images/Untitled.png" width="700" height="500" />